* {
	font-family: 'Press Start 2P', cursive;
}
body {
	background-image: url(../images/cave.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
main {
	margin-top:200px;
}
.mainContent {
	margin-top:50px;
}
.hp-bar {
	background-color: #006400;
	border-radius: 20px;
	text-align: center;
	width: 80%;
	margin: 5px auto 5px auto;
}
.mp-bar {
	background-color: #00008B;
	border-radius: 20px;
	text-align: center;
	width: 80%;
	margin: 5px auto 5px auto;
}
.armor-bar {
	background-color: #e60000;
	border-radius: 20px;
	text-align: center;
	width: 80%;
	margin: 5px auto 5px auto;
}
#healerSpeed {
	background-color: yellow;
	border-radius: 20px;
	padding:3px;
	margin: 5px auto 5px auto;
	width: 80%;
}
.healerSpeed {
	animation: timeFrame 10s ease-in-out 0s 1 normal forwards running;
}
#warriorSpeed {
	background-color: yellow;
	border-radius: 20px;
	padding:3px;
	margin: 5px auto 5px auto;
	width: 80%;
}
.warriorSpeed {
	animation: timeFrame 7s ease-in-out 0s 1 normal forwards running;
}
#mageSpeed {
	background-color: yellow;
	border-radius: 20px;
	padding:3px;
	margin: 5px auto 5px auto;
	width: 80%;
}
.mageSpeed {
	animation: timeFrame 8s ease-in-out 0s 1 normal forwards running;
}
#enemySpeed {
	background-color: yellow;
	border-radius: 20px;
	padding:3px;
	margin: 5px auto 5px auto;
	width: 80%;
	animation: timeFrame 8s ease-in-out 0s infinite normal forwards running;
}	
#enemySpecial {
	background-color: orange;
	border-radius: 20px;
	padding:3px;
	margin: 5px auto 5px auto;
	width: 80%;
	animation: timeFrame 30s ease-in-out 0s infinite normal forwards running;
}			
@keyframes timeFrame {
	from {
		width:0%;
	}
	to {
		width: 80%;
	}
}
#statusBar {
	height: 180px;
	background-image: url(../images/blue.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color:black;
}
#healer {
	width: 50%;
}
#warrior {
	width: 50%;
}
#mage {
	width: 50%;
}
#enemy {
	width: 600px;
	height: auto;
}
#fireSpell {
	position:absolute;
	z-index:99;
	bottom: 330px;
    right: 430px;
}
#explosion {
	position: absolute;
	z-index: 99;
	width: 200%;
    right: 460px;
}
.img-responsive {
	max-width: 100%;
	height: auto;
}
#enemy-container {
	height: 600px;
}
.enemyHealer {
	background-image: url(../images/enemy.attack.png);
	background-repeat: no-repeat;
	background-size: 60% 100%;
}
.enemyWarrior {
	background-image: url(../images/enemy.attack.png);
	background-repeat: no-repeat;
	background-size: 60% 100%;
}
.enemyMage {
	background-image: url(../images/enemy.attack.png);
	background-repeat: no-repeat;
	background-size: 60% 100%;
}
